<div class="bg-black text-white h-full p-4 snap-start">
    <div class="grid grid-cols-4">
        <div class="flex flex-col p-4">
            <div>
                <h1 class="font-bold text-2xl">B&W Photography</h1>
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nesciunt excepturi, hic deleniti esse odit optio sequi ea earum repudiandae nostrum reprehenderit.
            </div>
        </div>
        <div class="flex flex-col p-4">
            <div>
                <h1 class="font-bold text-2xl">About</h1>
            </div>
            <div>
                <ul>
                    <li>Home</li>
                    <li>Gallery</li>
                    <li>Services</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col p-4">
            <div>
                <h1 class="font-bold text-2xl">Services</h1>
            </div>
            <div>
                <ul>
                    <li>Photography</li>
                    <li>Editing</li>
                    <li>Printing</li>
                    <li>Delivery</li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col p-4">
            <div>
                <h1 class="font-bold text-2xl">Contact</h1>
            </div>
            <div>
                <ul>
                    <li>Phone: 123-456-7890</li>
                    <li>Email: mariomtz-b&w.com</li>
                    <li>Address: 1234 B&W St. B&W, B&W 12345</li>
                </ul>
            </div>
        </div>
    </div>
</div>
