<div class="bg-black/50 border-2 text-white border-white rounded-lg w-full p-2 h-auto">
    <div class=" w-full">
        <h1>Shop</h1>
    </div>
    <div class="flex">
        @for (camera of cameras; track $index) {
            <div class="flex flex-row mt-1 mr-2 w-full">
                <div class="flex flex-col">
                    <div class="w-full flex">
                        <img src="{{camera.url}}" alt="{{camera.name}}" class="w-full h-auto rounded-lg">
                    </div>
                    <div class="w-full flex justify-center">
                        <h2>{{camera.name}}</h2> 
                    </div>
                    <div class="w-full flex justify-center">
                        <p>{{camera.price}}€</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
